<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Reserves</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
  <br>
  <a href="/userhome" class="btn btn-primary btn-block">HOME</a><br>
    <h2>My Reserves</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reserve Id</th>
          <th>Coach Number</th>
          <th>Type</th>
          <th>Seat</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Date</th>
          <th>Depature Time</th>
          <th>Available Time</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < reserves.length ; i++) { %>
        <tr>
          <td><%= reserves[i].id %></td>
          <td><%= reserves[i].coachid %></td>
          <td><%= reserves[i].type %></td>
          <td><%= reserves[i].seat %></td>
          <td><%= reserves[i].origin %></td>
          <td><%= reserves[i].destination %></td>
          <td><%= reserves[i].date %></td>
          <td><%= reserves[i].departuretime %></td>
          <td><%= reserves[i].arrivaltime %></td>
          <td><a href="/userhome/cancel:<%= reserves[i].id %>">Cancel</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
   <br>
   <a href="/logout" class="btn btn-primary btn-block">Logout</a>
 </div>

</body>
</html>
